body {
    background-color: rgb(159, 182, 207);
  }

h1, h2  {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3, p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(0, 0, 0);
}

li {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(0, 0, 0);
}

img {
  border-radius: 50%;
  border: 1px solid black;
  padding: 5px;
  width: 150px;
  height: 155px;
}

a {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: xx-large;
}

a:hover {
  color: red;
  font-size: xx-large;
}

nav {
  background-color: rgb(4, 40, 67);
  height: 60px;
  padding: 2px;
}

main {
  background-color: rgb(191, 199, 205);
  width: 150px;
  height: 330px;
  padding: 3px;
  border-radius: 10px;
}

header {
  background-color: rgb(191, 199, 205);
  width: 400px;
  padding: 1px;
  border-radius: 4%;
}

.container {
  display:grid;
}